<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :lives, style: "display: block" %>
    <%= form.number_field :lives %>
  </div>

  <div>
    <%= form.label :word, style: "display: block" %>
    <%= form.text_field :word %>
  </div>

  <div>
    <%= form.label :current_try, style: "display: block" %>
    <%= form.text_field :current_try %>
  </div>

  <div>
    <%= form.label :wrong_letters, style: "display: block" %>
    <%= form.text_field :wrong_letters %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
