<div id="<%= dom_id game %>">
  <p>
    <strong>Lives:</strong>
    <%= game.lives %>
  </p>

  <p>
    <strong>Word:</strong>
    <%= game.word.upcase %>
  </p>

  <p>
    <strong>Current try:</strong>
    <%= game.current_try.upcase %>
  </p>

  <p>
    <strong>Wrong letters:</strong>
    <%= game.wrong_letters.upcase %>
  </p>

    <p>
    <strong>Done:</strong>
    <%= game.done %>
  </p>

</div>
