<p style="color: green"><%= notice %></p>

<h1>Games</h1>

<div id="games">
  <% @games.each do |game| %>
    <%= render game %>
    <p>
      <%= link_to "Show this game", game %>
    </p>
      <%= button_to "Quit game", game, method: :delete %>
  <% end %>
</div>

<%= button_to "New game",games_path, method: :post %>
