<p style="color: green"><%= notice %></p>

<h1>Games</h1>

<div id="games">
  <% @games.each_with_index do |game, index| %>
    
    <div class="game-item">
      <p>
        <%= "Game ##{index +1}: " %>
        <%= game.current_try %>
        <%= link_to "Show this game", game %>
    
        <%= button_to "Quit", game, method: :delete %>
      </p>
    </div>

  <% end %>
</div>

<%= button_to "New game",games_path, method: :post %>
