<p style="color: green"><%= notice %></p>

<div id="games">
  <% @games.each_with_index do |game, index| %>
    
    <div class="game-item">

      <%= link_to(game) do %>
        <%= "Game ##{index +1}: " %>
        <%= game.current_try %>
        
      <% end %>
      <%= button_to "Quit", game, method: :delete %>
    </div>

  <% end %>
</div>

<%= button_to "New game",games_path, method: :post %>
