<p style="color: green"><%= notice %></p>

<%= render @game %>

<% unless @game.done %>
  <%= render "update_field", game: @game %>
<% end %>
  

<div>
  
  <%= link_to "Back to games", games_path %>

  <%= button_to "Forfit this game", @game, method: :delete %>
</div>



