<!DOCTYPE html>
<html>
  <head>
    <title>HANGMAN</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <div class="center-cont">

      <div class="display">

        <div class="top-bar"> railsHangman v.0.1</div> 

        <div class="main-cont">
          <div class="hangman-display"></div>
          <div class="navigation"> <%= yield %></div>
        </div>

        <div class="bottom-bar"> © 2022 Lucas Falbo</div>
      
      </div> 

      <h1>RAILS BOY</h1>

      <%= render "partials/keyboard"%>

    </div>
  </body>

  
</html>
